### IntelliJ IDEA ###
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### oh-my-claudecode ###
.omc/

### Gradle ###
.gradle/
**/build/
# wrapper jar 는 커밋한다(팀원이 동일 Gradle 버전을 받게 하려면 필요)
!gradle/wrapper/gradle-wrapper.jar

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store